*,
button,
input,
select,
textarea,
a,
label {
    cursor: url('https://cdn.discordapp.com/attachments/700921995268849687/1407892117426274425/65973-wojak-point.png?ex=68a7c136&is=68a66fb6&hm=9c7a3ec196f9300c6d88d7f8de3661c7166e1778409dc48e38826f7a20f5603d&'), auto !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('https://images.pexels.com/photos/15819943/pexels-photo-15819943/free-photo-of-city-in-snowy-winter.jpeg');
    background-size: cover;
    background-position: center bottom;
    cursor: url('https://cdn.discordapp.com/attachments/700921995268849687/1407892117426274425/65973-wojak-point.png?ex=68a7c136&is=68a66fb6&hm=9c7a3ec196f9300c6d88d7f8de3661c7166e1778409dc48e38826f7a20f5603d&'), auto;
}   

title {
    text-shadow: 0 2px 10px black;
    animation: skyBlueFlash 2s ease infinite;
}

.cooler-font {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.big-text {
    font-size: 25px;
    font-weight: 600;   
}

.smaller-spacer {
    height: 10px
}

.spacer {
    height: 20px;
}

.login-container {

    backdrop-filter: blur(5px);
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.3);

    border: 2px solid black;
    border-radius: 12px;
    animation: borderFlash 2s ease 1 forwards;

    display: flex; /* flex layout makes it easier to align and space stuff */
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    width: 400px;
    height: 550px;
}

.text-input {
    background-color: rgba(255,255,255,0.3);
    height: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 4px 4px 0 black;
    cursor: text;
}

.submit-button {
    background-color: rgba(255,255,255,0.3);
    height: 70px;
    width: 150px;
    font-size: larger;
    border-radius: 15px;
    box-shadow: 4px 4px 0 black;
    cursor: pointer;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
}

/*eyframes borderFlash {
    from {
        box-shadow: 20px 20px 0 rgba(255,255,255,0.3);
    }
    to {
        box-shadow: 6px 6px 0 black;
    }
}